In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/tanma/Downloads/ml-latest-small (1)/ml-latest-small/ratings.csv")

In [3]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
df.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [16]:
df.nunique()

userId         610
movieId       9724
rating          10
timestamp    85043
dtype: int64

In [17]:
df.shape

(100836, 4)

In [20]:
# let us see how many rating number are present in our data frame
for i in range(6):
    count = 0
    for j in range(df.shape[0]):
        if df["rating"][j] == i:
            count+=1
    print("Number of ",i,"is: ",count)

Number of  0 is:  0
Number of  1 is:  2811
Number of  2 is:  7551
Number of  3 is:  20047
Number of  4 is:  26818
Number of  5 is:  13211